{% extends 'base.html.twig' %}

{% block title %}New Maquette{% endblock %}

{% block body %}
    <h1>Create new Maquette</h1>

    {{ include('maquette/_form.html.twig') }}

    <a href="{{ path('app_maquette_index') }}">back to list</a>
{% endblock %}
