@use "sass:color";

//import framework bootstrap
@use "bootstrap/scss/bootstrap";

//@use "utils/utilities" as *;

//importation functions
//@use "utils/functions" as *;

@use "../abstracts/index" as * ;

// Import icons bootstrap
@import "~bootstrap-icons/font/bootstrap-icons.css";

#navMenuPrincipal
{
    box-shadow: 1px 1px 5px;
    .container-logo {
        // Styles de transition pour l'image du logo
        img {
            display:block;
            width: 60%;
            transition: width 0.5s ease;
        }

        // Cible la classe .logo-small qui est ajoutée dynamiquement
        &.logo-small {
            img {
                width: 50%;
            }
        }
    }

   
    .nav-item.active
    {
        background-color: rgba($text-color-inverted,0.5);
        box-shadow: 1px 1px 2px black;
    }
    .nav-item
    {
        
        border-radius : 10px;
        padding : 2px 10px;
        position : relative;
        z-index: 0;
        overflow: hidden;
        

        .nav-link
        {
            color : $primary-color;
            font-weight: 600;
            position : relative;
            &::before{
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 0%;
                height: 100%;
                background: linear-gradient(-45deg,       
                #ffffff 55%, 
                color.adjust($secondary-color, $lightness: 20%) 60%);
                background-size: 200% 200%;
                background-position: 100% 0;
                transition: width 1s ease-out ,background-position 0.5s ease-in-out;
                z-index: -1;
                border-radius: 10px;
            }
        }

        

    }


  /* Animation au survol sur le lien (plus direct) */

    .nav-item:not(.active) .nav-link:hover::before {
        // La largeur de la boîte passe à 100%
        width: 100%;
        background-position: 0% 0%;
        
    }

     
    

}

footer {
    
    .container-adress,
    .container-link {
       // background-color: rgba(245, 96, 0, 0.34);
       background-color: rgba($secondary-color, 0.34);
    }

    .container-link {
      
        ul {
           
            li {
                
                font-weight: bold;
                // Style pour les liens des éléments impairs
                &:nth-child(odd){
                   color:$primary-color;
                   a {
                     color: $primary-color;
                     transition: color 0.3s ease;
                     &:hover
                     {
                        color:$accent-color;
                     }
                    } 
                } 

                // Style pour les liens des éléments pairs
                &:nth-child(even){
                    color: lighten($secondary-color, 50%);
                    a {
                     color: lighten($secondary-color, 50%);
                     transition: color 0.3s ease;
                    &:hover{
                    color:$accent-color;
                    }
                    }
                    
                }

                margin:10px 5px;
            }
        }
    }

    .container-adress{
        ul{
            li{
                margin:10px 5px;
            }
        }
        
    }
}

.section-portfolio{
    .wrapper-vignette{
        border-radius: 20px;
        img{
            display: block;
            margin: auto;
            max-width: 100%;
        }
    }
}
