body
{
    background-color: rgb(248, 243, 243);
    main
    {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
    .block-form
        {
            border:10px solid rgb(230, 226, 226);;
            border-radius: 10px;
        }
    }

}
