@use "sass:color";

@use "../../abstracts/index" as *;

.section-creation-vitrine
{
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;
    &::before{
        top:0;
        left:0;
        z-index: -1;
        position: absolute;
        width: 100%;
        height: 100%;
        content: "";
        background:linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4));
    }
    
    /*h1{
        text-shadow: 1px 1px 2px white;
    }*/

    .container-hook{
        background-color: rgba(244, 244, 244, 0.8);

    }
}

.section-feature{
   h3{
    position: relative;
   /* &::before{
        content:"";
        width: 50px;
        height: 50px;
        background-color: $accent-color;  

    }*/
   }
}