@use "sass:color";

@use "../../abstracts/index" as *;

.container-portfolio {
  .wrapper-vignette {
    .vignette {
      border-radius: 10px;
      overflow: hidden;
      position: relative;
      z-index: 0;
      box-shadow: 1px 1px 10px black;

      &::before {
        content: '';
        position: absolute;
        top: -100%;
        left: 0;
        background-color: rgba(0, 0, 0, 0.8);
        width: 100%;
        height: 100%;
        z-index: 1;
        transition: top 0.5s ease;
        border-radius: 10px;
      }

      h3 {
        font-size: 1rem;
        width: 100%;
        text-align: center;        
      }
      .hover-reveal{
        font-size: 1rem;
        position: absolute;
        top: -200px;
        transition: top 1s ease;
        z-index: 2;
        width: 100%;
        height:100%;
        text-align: center;
        color: white;

      }

      &:hover {
        &::before {
          top: 0;
        }

        .hover-reveal{
          top: 0%;
        }
      }
      img{
        max-width: 100%;
      }
    }
  }
  .pagination{
    .link-pagination{
         &:hover{
        @include link-pagination;
        }

    }
    .active{
        @include link-pagination;
    }
   
  }
}

