@use "sass:color";

@use "../../abstracts/index" as *;


.section-presentation{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    z-index: 0;
    
    h3{
        background-color: rgba($primary-color,0.8);
    }
    &::before{
         content: "";
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(black, 0.9), rgba(black, 0.4));
    backdrop-filter: blur(3px);
    z-index: -1;
    }
    p{
        line-height: 1.5;
    }
}


.section-services{

    .container-services{

        .service{
          background-color: $accent-color;
          border-radius: 10px;
          ul{
            list-style: none;
          }
        }
    }
}

.section-why-webmaster{
    background-color:$grey-light;

   
    }

