@use "sass:color";

@import "~bootstrap/scss/bootstrap";

//importation variable
@import "base/variables";

//importation functions
@import "utils/functions";

#navMenuPrincipal
{
    background: linear-gradient(115deg,#fff 1%,#f56000 20%, #f56000 100%) !important;
   
    .nav-item.active
    {
        background-color: rgba(255,255,255,0.5);
    }
    .nav-item
    {
        
        border-radius : 10px;
        padding : 2px 10px;
        position : relative;
        z-index: 0;
        overflow: hidden;

        .nav-link
        {
            color : $primary-color;
            font-weight: 600;
            position : relative;
        }

        

    }


  
    /* Pseudo-élément "boîte" */
    .nav-link::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background: linear-gradient(-45deg,       
        #ffffff 55%, 
        color.adjust($secondary-color, $lightness: 20%) 60%);
        background-size: 200% 200%;
        background-position: 100% 0;
        transition: width 0.5s ease-out ,background-position 0.5s ease-in-out;
        z-index: -1;
        border-radius: 10px;
    }

     

  /* Animation au survol sur le lien (plus direct) */

    .nav-item:not(.active) .nav-link:hover::before {
        // La largeur de la boîte passe à 100%
        width: 100%;
        background-position: 0% 0%;
        
    }

     
    

}