 <footer  data-controller="lazy-background" data-lazy-background-mobile-url="{{ APP_ASSET_UPLOAD_IMAGE ~ asset(backgroundFooter.image_object.formats.small) }}">
<h5>footer</h5>
 </footer>
 
 
  {{encore_entry_script_tags('app')}}
</body>
</html>