<nav data-controller="navbar"  id="navMenuPrincipal" data-margin-top-main-target="navbar" class="navbar fixed-top navbar-expand-xl bg-accent-color-light">
  <div class="container-fluid">
    <a  data-navbar-target="logo" class="navbar-brand container-logo" href="#">{{ logoHtml|raw }}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMainMenu" aria-controls="navbarMainMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarMainMenu">
      {{ knp_menu_render('main_menu', {
        'currentClass': 'active',
        'template': '@KnpMenu/menu.html.twig',
                     }) }}
    </div>
  </div>
</nav>


