{% extends 'base.html.twig' %}

{% block title %}New CategoriesSite{% endblock %}

{% block body %}
    <h1>Create new CategoriesSite</h1>

    {{ include('categories_site_crud/_form.html.twig') }}

    <a href="{{ path('app_categories_site_crud_index') }}">back to list</a>
{% endblock %}
